invoke
pyserial
pyttsx3

netifaces
chardet

python-vlc
wheel
pyinstaller
black
psutil

# depndencies
PyQt5
pywin32
pywinauto
Flask

# doc
sphinx
sphinx-qt-documentation

PyQt6
Django
psycopg2
sqlalchemy